.status-bar {
    font-family: "DynaPuff", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 95;
    display: flex; /* make items at the same line */
    align-items: center;
    padding: 5px;
  }
  .status-bar__column {
    width: 33%; /* to make time column(2nd item) on center */
  }
  .status-bar__column:first-child > span {
    margin-right: 5px; /* make empty space between 'No service' and Wifi icon */
  }
  .status-bar__column:nth-child(2) {
    display: flex; /* to make time column(2nd item) on center */
    justify-content: center; /* to make time column(2nd item) on center */
  }
  .status-bar__column:last-child {
    /* to make time column(2nd item) on center */
    display: flex;
    justify-content: flex-end;
    align-items: center; /* to vertically center-align the icons */
  }
  
  .status-bar__column > .fa-battery-quarter {
    margin: 0px 5px;
  }
  